/* update */

body {
    

  background-color: white;
}

#welcomemessage {
    
    width : 400px;
    margin: auto;
    text-align: center;
    color: white;
    
}

#startlink {
    margin: auto;
    text-align: center;
    display: list-item;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    font-family: Serif;
    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: #007CCF;
    border: none;
}

#startlink:hover {
    color: #99D6FF;
}

#levelselectbutton {
    margin: auto;
    text-align: center;
    display: list-item;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    font-family: Serif;
    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: #007CCF;
    border: none;
}

#levelselectbutton:hover {
    color: #99D6FF;
}

#loginbutton {
    margin: auto;
    text-align: center;
    display: list-item;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    font-family: Serif;
    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: #007CCF;
    border: none;
}

#loginbutton:hover {
    color: #99D6FF;
}

#sidebar {
 margin: auto;
 margin-left: 450px;
 

}
#sidebar2 {
margin: auto;
margin-left: 700px; 
 }


h3 /*number correct and high score */ {
    margin: auto;
    margin-top: 5px;
    font-weight:lighter;
    color: black;
  /*  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   */  
}

#typehere {
    margin: auto;
    margin-top: 100px;
    font-weight:lighter;
    /* font-variant:inherit; */
    color: black;
    border-color: black;
    /*text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
    */
}

#ncorrect {
    /*margin: auto;
    margin-top: 0px;
    margin-left: 40px;
    font-weight:lighter;
    font-variant:inherit; 
    color: black;
    border-color: black;*/   
}


#typethis {
    text-align: center;
    
}

#congratsdiv {
    text-align: center;
    height: 500px;
}

#congratsdiv img {
    height: 360px;
    width: 400px;
    margin-left: -30px;
}

#letter {
    font-size: 90px;
    margin: auto;
    /*margin-top: 100px;*/
    margin-bottom: 150px;
    position: relative;
    font-weight:lighter;
    /* font-variant:inherit; */
    color: black;
    border-color: black;
}

#typehere p {
	
    text-align: center;
    margin-bottom: 80px;
}

#practicelevelbuttons {
	list-style-type: none;
}
#levelbuttons {
	list-style-type: none;
	font-weight:lighter;
	background-color: white;
}
#logintable {
	color: white;
	font-weight:lighter;
}
#logintable2 {
	color: white;
	font-weight:lighter;
}
.indexpage {
	background-color: #007CCF;
}
.loginpage {
	background-color: #007CCF;
}
.congratspage {
	background-color: #007CCF;
}
#levelselectpage{
	background-color: #007CCF;
}







.ribbon {
 font-size: 26px !important;

 width: 50%;
    
 position: relative;
 background: #007CCF;
 color: #fff;
 text-align: center;
 padding: 1em 2em; 
 margin: 2em auto 3em; 
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #007CCF;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #007CCF transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
